{% if session['user']['permisos'] > 1 %}
    {% extends 'base.html' %}
{% else %}
    {% extends 'base_user.html' %}
{% endif %}

{% block head %}
    <link rel="stylesheet" href="{{ url_for('static', filename='asistencias.css') }}">
{% endblock %}

{% block center %}
    <fieldset>
        <legend>Cargar</legend>
        <form method="post">
            {% for evento in eventos %}
                {% if session['user']['permisos'] > 1 %}
                    <button type="submit" name="evento" formaction="{{ url_for('asistencias.Nueva_Planilla', evento_nombre=evento.nombre) }}">
                        <span>{{ evento.nombre }}</span>
                    </button>
                {% else %}
                    {% if evento.nombre != 'Conducta' %}
                        <button type="submit" name="evento" formaction="{{ url_for('asistencias.Nueva_Planilla', evento_nombre=evento.nombre) }}">
                            <span>{{ evento.nombre }}</span>
                        </button>
                    {% endif %}
                {% endif %}
            {% endfor %}
        </form>
    </fieldset>
{% endblock %}