{% extends 'base.html' %}

{% block center %}
    <form action="" method="post">
        {% for evento in eventos %}
            <input type="submit" name="evento" value="{{ evento.nombre }}" formaction="{{ url_for('asistencias.Nueva_Planilla', evento_nombre=evento.nombre) }}">
        {% endfor %}
    </form>

    <fieldset>
        <legend>Tests</legend>
        <form action="" method="post">
            <input type="submit" value="Test" formaction="{{ url_for('asistencias.Test') }}">
            <input type="submit" value="Limpiar" formaction="{{ url_for('asistencias.Limpiar') }}">
        </form>
    </fieldset>
{% endblock %}