{% extends 'base.html' %}

{% block head %}
    <link rel="stylesheet" href="{{ url_for('static', filename='asistencias.css') }}">
    <script src="{{ url_for('static', filename='main.js') }}"></script>
{% endblock %}

{% block center %}
    <form action="{{ url_for('asistencias.Cargar_Detalles') }}" method="post">
        <table>
            <col width="50%"><col width="25%"><col width="25%">
            <thead>
                <tr>
                    <th>
                        Planilla #{{ cabecera.id }}
                        <input type="hidden" name="id_cabecera" value="{{ cabecera.id }}">
                    </th>
                    <th>
                        Evento: {{ evento.nombre }}
                        <input type="hidden" name="descripcion">
                    </th>
                    <th>
                        {{ cabecera.fecha_creada }}
                    </th>
                </tr>
                <tr>
                    <th>Bombero</th>
                    <th>Estado</th>
                    <th>Unidad</th>
                </tr>
            </thead>
            <tbody>
                {% for bombero in bomberos %}
                    <tr>
                        <td>{{ bombero.apellido_nombre }}</td>
                        <td class="radio">
                            <input type="radio" id="{{bombero.legajo}}_presente" name="{{bombero.legajo}}_estado" value="1" required>
                            <label for="{{bombero.legajo}}_presente">Presente</label>

                            <input type="radio" id="{{bombero.legajo}}_licencia" name="{{bombero.legajo}}_estado" value="2" required>
                            <label for="{{bombero.legajo}}_licencia">Licencia</label>

                            <input type="radio" id="{{bombero.legajo}}_ausente" name="{{bombero.legajo}}_estado" value="0" required>
                            <label for="{{bombero.legajo}}_ausente">Ausente</label>
                        </td>
                        <td>
                            <select name="{{bombero.legajo}}_unidad">
                                <option value="{{ None }}" selected></option>
                                {% for unidad in unidades %}
                                    <option value="{{ unidad.id }}">{{ unidad.nombre }} ({{ unidad.patente }})</option>
                                {% endfor %}
                            </select>
                        </td>
                    </tr>
                {% endfor %}

                <tr>
                    <th colspan="3">
                        <input type="submit" value="Cargar">
                    </th>
                </tr>
            </tbody>
        </table>
    </form>
{% endblock %}

{% block right %}
    <fieldset>
        <legend>Descripción</legend>
        <textarea name="descripcion_textarea" rows="10" oninput="actualizar_Descripcion()"></textarea>
    </fieldset>
{% endblock %}