{% extends 'base.html' %}

{% block head %}
    <link rel="stylesheet" href="{{ url_for('static', filename='asistencias.css') }}">
    <script src="{{ url_for('static', filename='main.js') }}"></script>
{% endblock %}

{% block center %}
    <form action="{{ url_for('asistencias.Cargar_Detalles') }}" method="post">
        <table>
            <col width="75%"><col width="25%">
            <thead>
                <tr>
                    <th>
                        Planilla #{{ cabecera.id }}
                        <input type="hidden" name="id_cabecera" value="{{ cabecera.id }}">
                    </th>
                    <th>
                        {{ evento.nombre }}, {{ cabecera.fecha_creada }}
                    </th>
                </tr>
                <tr>
                    <th>Bombero</th>
                    <th>Conducta</th>
                </tr>
            </thead>
            <tbody>
                {% for bombero in bomberos %}
                    <tr>
                        <td>{{ bombero.apellido_nombre }}</td>
                        <td class="radio">
                            <input type="radio" id="{{bombero.legajo}}_presente" name="{{bombero.legajo}}_estado" value="1" required>
                            <label for="{{bombero.legajo}}_presente">Suficiente</label>

                            <input type="radio" id="{{bombero.legajo}}_ausente" name="{{bombero.legajo}}_estado" value="0" required>
                            <label for="{{bombero.legajo}}_ausente">Deficiente</label>
                        </td>
                    </tr>
                {% endfor %}

                <tr>
                    <th colspan="2">
                        <input type="submit" value="Cargar">
                    </th>
                </tr>
            </tbody>
        </table>
    </form>
{% endblock %}