{% extends 'base.html' %}

{% block head %}
    <link rel="stylesheet" href="{{ url_for('static', filename='calificaciones.css') }}">
{% endblock %}

{% block center %}
    <table>
        <thead>
            <tr>
                <th>
                    Bombero (Legajo)
                </th>
                <th>
                    Asistencias
                </th>
                <th>
                    Puntaje
                </th>
            </tr>
        </thead>
        <tbody>
            {% for calificacion in calificaciones %}
                <tr class="bomberos">
                    <td colspan="2">
                        {% set bombero = Bombero.Get_Bombero_By_Legajo(calificacion.legajo) %}
                        {{ bombero.apellido_nombre }} ({{bombero.legajo}})
                    </td>

                    {% if calificacion.puntaje < 3.33 %}
                        <td style="background-color: #FF595E;">
                            {{ calificacion.puntaje }}
                        </td>
                    {% elif calificacion.puntaje < 6.66 %}
                        <td style="background-color: #FFCA3A;">
                            {{ calificacion.puntaje }}
                        </td>
                    {% else %}
                        <td style="background-color: #8AC926;">
                            {{ calificacion.puntaje }}
                        </td>
                    {% endif %}
                </tr>

                {% for evento in Calificacion.Get_Desglose_Anual(calificacion.legajo) %}
                    <tr class="eventos">
                        <td>
                            {{ Evento.Get_Evento_By_ID(evento.id_evento).nombre }}
                        </td>
                        <td>
                            {{ evento.asistencias }} / {{ evento.total }}
                        </td>
                        <td>
                            {{ evento.puntaje }}
                        </td>
                    </tr>
                {% endfor %}
            {% endfor %}  
        </tbody>
    </table>

{% endblock %}