table {
    width: 100%;
    padding: 0.5rem;
    border-collapse: collapse;
    font-family: sans-serif;
    font-size: 1rem;

    thead {
        tr {
            background-color: var(--color-fg-center);
            text-align: left;
        }
    }

    tbody {
        tr {
            border-bottom: 0.1rem solid var(--color-fg-center);
        }

        tr:last-of-type {
            border-bottom: 0.2rem solid var(--color-fg-center);
        }

        tr:nth-of-type(odd) {
            background-color: color-mix(in srgb, var(--color-bg-center), white 85%);
        }
        tr:nth-of-type(even) {
            background-color: color-mix(in srgb, var(--color-bg-center), white 80%);
        }

        tr:hover {
            background-color: color-mix(in srgb, var(--color-bg-center), white 75%);
        }
    }

    th, td {
        padding: 0.3rem 0.4rem;

        input[type=radio] {
            display: none;
        }
    }
}