* {
    margin: 0;
    padding: 0;
}

:root {
    --color-bg-body: #EEEEEEAA;

    --color-fg-top: #1D3557;
    --color-bg-top: #1D3557DD;
    --color-text-top: #EEE;

    --color-fg-middle: #AE2012;
    --color-bg-middle: #AE201277;

    --color-fg-bottom: #A8DADC;
    --color-bg-bottom: #A8DADC77;

    --color-fg-left: #BB3E03;
    --color-bg-left: #BB3E03;
    
    --color-fg-center: #CA6702;
    --color-bg-center: #CA6702;

    --color-fg-right: #EE9B00;
    --color-bg-right: #EE9B00;
}

html {
    background-image: url(./logo.svg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: 33%;
    
}

body {
    background-color: var(--color-bg-body);
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: auto 1fr auto;
    grid-template-areas:
    'top'
    'middle'
    'bottom';
    min-height: 100dvh;
}

#top {
    grid-area: top;
    border-top: 0.5rem solid var(--color-fg-top);
    background-color: var(--color-bg-top);
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;

    h1 {
        margin-left: 1rem;
        color: var(--color-text-top);
        font-size: 2rem;
    }

    a {
        text-decoration: none;
        color: inherit;
    }

    form {
        background-color: transparent;

        input {
            font-size: 1.25rem;
            margin-right: 1rem;
            border: none;
            background-color: transparent;
        }
        
        input:hover {
            cursor: pointer;
        }
    }
}

#middle {
    display: grid;
    grid-template-columns: 1fr 4fr 1fr;
    grid-template-areas:
    'left center right';
}

#bottom {
    grid-area: bottom;
    border-top: 0.5rem solid var(--color-fg-bottom);
    background-color: var(--color-bg-bottom);
    text-align: center;
}

#left {
    grid-area: left;
    border-top: 0.5rem solid var(--color-fg-left);
    background-color: color-mix(in srgb, var(--color-bg-left), transparent 80%);
    padding: 0.5rem;

    #nav {
        display: flex;
        flex-direction: column;
        row-gap: 0.5rem;
        font-family: sans-serif;

        details {
            display: flex;
            flex-direction: column;
            background-color: color-mix(in srgb, var(--color-bg-left), transparent 80%);
            overflow: hidden;

            summary {
                cursor: pointer;
                user-select: none;
                background-color: var(--color-fg-left);
                padding: 0.5rem;
                font-weight: bold;
                color: color-mix(in srgb, var(--color-fg-left), white 80%);
            }

            summary::marker {
                content: none;
            }

            a {
                display: block;
                text-decoration: none;
                padding: 0.5rem;
                color: color-mix(in srgb, var(--color-fg-left), black 80%);
                border-bottom: 0.1rem solid var(--color-fg-left);
            }

            a:last-of-type {
                border-bottom: 0.2rem solid var(--color-fg-left);
            }

            a:hover {
                background-color: color-mix(in srgb, var(--color-bg-left), transparent 80%);
            }
        }
    }
}

#center {
    grid-area: center;
    border-top: 0.5rem solid var(--color-fg-center);
    background-color: color-mix(in srgb, var(--color-bg-center), transparent 80%);
    padding: 0.5rem;
}

#right {
    grid-area: right;
    border-top: 0.5rem solid var(--color-fg-right);
    background-color: color-mix(in srgb, var(--color-bg-right), transparent 80%);
    padding: 0.5rem;
    font-family: sans-serif;

    fieldset {
        display: flex;
        border: 0.1rem solid var(--color-fg-right);
        border-bottom: 0.2rem solid var(--color-fg-right);
        box-sizing: border-box;
        flex-direction: row;
        margin-bottom: 0.5rem;

        legend {
            margin-left: 0.5rem;
            color: color-mix(in srgb, var(--color-fg-right), black 50%);
        }

        span {
            padding: 0.5rem;
        }
    }
}