table {
    width: 100%;
    padding: 0.5rem;
    border-collapse: collapse;
    font-family: sans-serif;
    font-size: 1rem;

    thead {
        tr {
            background-color: var(--color-fg-center);
            text-align: left;

            th {
                color: white;
            }
        }
    }

    tbody {
        tr {
            border-bottom: 0.1rem solid var(--color-fg-center);
        }

        tr:last-of-type {
            border-bottom: 0.2rem solid var(--color-fg-center);
        }

        tr:nth-of-type(odd) {
            background-color: color-mix(in srgb, var(--color-bg-center), white 85%);
        }
        tr:nth-of-type(even) {
            background-color: color-mix(in srgb, var(--color-bg-center), white 80%);
        }

        tr:hover {
            background-color: color-mix(in srgb, var(--color-bg-center), white 75%);
            cursor: pointer;
        }
    }

    th, td {
        padding: 0.3rem 0.4rem;
    }
}

#right {
    form {
        display: flex;
        flex-direction: column;
        row-gap: 0.5rem;

        fieldset {
            display: flex;
            flex-direction: row;
            justify-content: space-around;

            input {
                padding: 0.25rem;
                box-sizing: border-box;
                background: none;
                border: none;
                outline: none;
                flex-grow: 1;
            }

            button {
                cursor: pointer;
                border: none;
                outline: none;
                background: none;
                padding: 0.25rem;
                flex-grow: 1;

                span {
                    color: color-mix(in srgb, var(--color-bg-right), black 50%);
                    font-weight: bold;
                }
            }

            button:hover {
                background-color: color-mix(in srgb, var(--color-bg-right), transparent 80%);
            }
        }
    }
}