#center {
    display: flex;
    align-items: center;
    justify-content: center;

    form {
        display: flex;
        flex-direction: column;
        row-gap: 0.5rem;
        padding: 0.25rem;
        font-family: sans-serif;
        font-size: large;
    }

    fieldset {
        display: flex;
        border: 0.1rem solid var(--color-fg-center);
        border-bottom: 0.2rem solid var(--color-fg-center);
        box-sizing: border-box;
        flex-direction: column;
        background-color: color-mix(in srgb, var(--color-bg-center), white 50%);

        legend {
            margin-left: 0.5rem;
            color: color-mix(in srgb, var(--color-fg-center), black 50%);
        }

        input {
            padding: 0.25rem;
            display: flex;
            width: 100%;
            box-sizing: border-box;
            background: none;
            border: none;
            outline: none;
            font-size: large;
        }

        input[type=submit], input[type=button] {
            padding: 0.5rem;
        }

        input[type=submit]:hover, input[type=button]:hover {
            cursor: pointer;
            background-color: color-mix(in srgb, var(--color-bg-center), transparent 80%)
        }
    }
}

#right {
    fieldset {
        display: flex;
        border: 0.1rem solid var(--color-fg-right);
        border-bottom: 0.2rem solid var(--color-fg-right);
        box-sizing: border-box;
        flex-direction: column;
        background-color: color-mix(in srgb, var(--color-bg-right), transparent 80%);

        legend {
            margin-left: 0.5rem;
            color: color-mix(in srgb, var(--color-fg-right), black 50%);
        }

        p {
            padding: 0.25rem;
            display: flex;
            width: 100%;
            box-sizing: border-box;
            background: none;
            border: none;
            outline: none;
            font-size: normal;
        }
    }
}