table {
    width: 100%;
    padding: 0.5rem;
    border-collapse: collapse;
    font-family: sans-serif;
    font-size: 1rem;

    thead {
        tr {
            background-color: var(--color-fg-center);
            text-align: left;
        }
    }

    tbody {
        tr {
            border-bottom: 0.1rem solid var(--color-fg-center);
        }

        tr:last-of-type {
            border-bottom: 0.2rem solid var(--color-fg-center);
        }

        tr:nth-of-type(odd) {
            background-color: color-mix(in srgb, var(--color-bg-center), white 85%);
        }
        tr:nth-of-type(even) {
            background-color: color-mix(in srgb, var(--color-bg-center), white 80%);
        }

        tr:hover {
            background-color: color-mix(in srgb, var(--color-bg-center), white 75%);
            cursor: pointer;
        }
    }

    th, td {
        padding: 0.3rem 0.4rem;
    }
}

form {
    display: flex;
    flex-direction: column;
    row-gap: 0.5rem;
    padding: 0.25rem;

    fieldset {
        display: flex;
        border: 0.1rem solid var(--color-fg-right);
        border-bottom: 0.2rem solid var(--color-fg-right);
        box-sizing: border-box;
        flex-direction: row;

        legend {
            margin-left: 0.5rem;
            color: color-mix(in srgb, var(--color-fg-right), black 50%);
        }

        input {
            padding: 0.25rem;
            display: flex;
            width: 100%;
            box-sizing: border-box;
            background: none;
            border: none;
            outline: none;
        }

        input[type=submit]:hover, input[type=button]:hover {
            cursor: pointer;
            background-color: color-mix(in srgb, var(--color-bg-right), transparent 80%)
        }
    }

}