{% extends 'base.html' %}

{% block head %}
    <link rel="stylesheet" href="{{ url_for('static', filename='personal.css') }}">
    <script src="{{ url_for('static', filename='main.js') }}"></script>
{% endblock %}

{% block center %}
    <table>
        <thead>
            <tr>
                <th>ID</th>
                <th>Nombre</th>
                <th>Puntos</th>
            </tr>
        </thead>

        <tbody>
            {% for Evento in eventos %}
                <tr onclick="tr_Seleccionar(this)">
                    <td>{{ Evento.id }}</td>
                    <td>{{ Evento.nombre }}</td>
                    <td>{{ Evento.puntos }}</td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
{% endblock %}

{% block right %}
    <form id="abm" action="{{ url_for('eventos.Subir') }}" method="post">
        <fieldset>
            <legend>ID (no modificable)</legend>
            <input type="text" name="id" value="" readonly>
        </fieldset>
        
        <fieldset>
            <legend>Nombre</legend>
            <input type="text" name="nombre" value="">
        </fieldset>

        <fieldset>
            <legend>Puntos</legend>
            <input type="text" name="puntos" value="">
        </fieldset>

        <fieldset>
            <legend>Acciones</legend>
            <input type="submit" value="Guardar">
            <input type="button" value="Limpiar" onclick="form_Limpiar()">
        </fieldset>
    </form>
{% endblock %}