{% extends 'base.html' %}

{% block head %}
    <link rel="stylesheet" href="{{ url_for('static', filename='datos.css') }}">
    <script src="{{ url_for('static', filename='main.js') }}"></script>
{% endblock %}

{% block center %}
    <table>
        <thead>
            <tr>
                <th>Legajo</th>
                <th>DNI</th>
                <th>Usuario</th>
                <th>Contraseña</th>
                <th>Apellido, Nombre</th>
                <th>Teléfono</th>
                <th>Nacimiento</th>
                <th>Provincia</th>
                <th>Lugar</th>
                <th class="hidden">Permisos</th>
            </tr>
        </thead>

        <tbody>
            {% for Bombero in personal %}
                <tr onclick="tr_Seleccionar(this)">
                    <td>{{ Bombero.legajo }}</td>
                    <td>{{ Bombero.dni }}</td>
                    <td>{{ Bombero.username }}</td>
                    <td>{{ Bombero.password }}</td>
                    <td>{{ Bombero.apellido_nombre }}</td>
                    <td>{{ Bombero.telefono }}</td>
                    <td>{{ Bombero.fecha_nacimiento }}</td>
                    <td>{{ Bombero.provincia }}</td>
                    <td>{{ Bombero.lugar }}</td>
                    <td class="hidden">{{ Bombero.permisos }}</td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
{% endblock %}

{% block right %}
    <form id="abm" action="{{ url_for('personal.Subir') }}" method="post">
        <fieldset>
            <legend>Legajo</legend>
            <input type="text" name="legajo" value="" required>
        </fieldset>

        <fieldset>
            <legend>DNI</legend>
            <input type="text" name="dni" value="" required>
        </fieldset>

        <fieldset>
            <legend>Usuario</legend>
            <input type="text" name="username" value="" required>
        </fieldset>

        <fieldset>
            <legend>Contraseña</legend>
            <input type="text" name="password" value="" required>
        </fieldset>

        <fieldset>
            <legend>Apellido, Nombre</legend>
            <input type="text" name="apellido_nombre" value="" required>
        </fieldset>

        <fieldset>
            <legend>Teléfono</legend>
            <input type="text" name="telefono" value="" required>
        </fieldset>

        <fieldset>
            <legend>Nacimiento</legend>
            <input type="text" name="fecha_nacimiento" value="" required>
        </fieldset>

        <fieldset>
            <legend>Provincia</legend>
            <input type="text" name="provincia" value="" required>
        </fieldset>

        <fieldset>
            <legend>Lugar</legend>
            <input type="text" name="lugar" value="" required>
        </fieldset>

        <fieldset>
            <legend>Permisos</legend>
            <input type="text" name="permisos" value="" required>
        </fieldset>

        <fieldset>
            <legend>Acciones</legend>
            <button onclick="form_Limpiar()">
                <span>Limpiar</span>
            </button>
            <button type="submit">
                <span>Guardar</span>
            </button>
        </fieldset>
    </form>
{% endblock %}