{% extends 'base.html' %}

{% block head %}
    <link rel="stylesheet" href="{{ url_for('static', filename='datos.css') }}">
    <script src="{{ url_for('static', filename='main.js') }}"></script>
{% endblock %}

{% block center %}
    <table>
        <thead>
            <tr>
                <th>ID</th>
                <th>Nombre</th>
                <th>Patente</th>
                <th class="hidden">Estado</th>
            </tr>
        </thead>

        <tbody>
            {% for Unidad in unidades %}
                <tr onclick="tr_Seleccionar(this)">
                    <td>{{ Unidad.id }}</td>
                    <td>{{ Unidad.nombre }}</td>
                    <td>{{ Unidad.patente }}</td>
                    <td class="hidden">{{ Unidad.estado }}</td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
{% endblock %}

{% block right %}
    <form id="abm" action="{{ url_for('unidades.Subir') }}" method="post">
        <fieldset>
            <legend>ID (no modificable)</legend>
            <input type="text" name="id" value="" readonly>
        </fieldset>
        
        <fieldset>
            <legend>Nombre</legend>
            <input type="text" name="nombre" value="" required>
        </fieldset>
        
        <fieldset>
            <legend>Patente</legend>
            <input type="text" name="patente" value="" required>
        </fieldset>

        <fieldset>
            <legend>Estado</legend>
            <input type="text" name="estado" value="" required>
        </fieldset>

        <fieldset>
            <legend>Acciones</legend>
            <button onclick="form_Limpiar()">
                <span>Limpiar</span>
            </button>
            <button type="submit">
                <span>Guardar</span>
            </button>
        </fieldset>
    </form>
{% endblock %}