* {
    margin: 0;
    padding: 0;
}

html {
    background-image: url(./logo.svg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: 33%;
    
}

body {
    background-color: var(--color-bg-body);
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: auto 1fr auto;
    grid-template-areas:
    'top'
    'middle'
    'bottom';
    min-height: 100dvh;
}

#top {
    grid-area: top;
    border-top: 0.5rem solid var(--color-fg-top);
    background-color: var(--color-bg-top);
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 0rem 1rem;

    h1 {
        color: var(--color-text-top);
        font-size: 2rem;
    }

    a {
        text-decoration: none;
        color: inherit;
    }

    div {
        display: flex;
        justify-content: space-between;

        form {
            input {
                background: none;
                border: none;
                outline: none;
                font-size: 1.25rem;
            }
            
            input:hover {
                cursor: pointer;
            }
        }
    }

}

#middle {
    display: grid;
    grid-template-columns: 1fr 4fr 1fr;
    grid-template-areas:
    'left center right';
}

#bottom {
    grid-area: bottom;
    border-top: 0.5rem solid var(--color-fg-bottom);
    background-color: var(--color-bg-bottom);
    text-align: center;
}

#left {
    grid-area: left;
    border-top: 0.5rem solid var(--color-fg-left);
    background-color: color-mix(in srgb, var(--color-bg-left), transparent 80%);
    padding: 0.5rem;

    #nav {
        display: flex;
        flex-direction: column;
        row-gap: 0.5rem;
        font-family: sans-serif;

        details {
            display: flex;
            flex-direction: column;
            background-color: color-mix(in srgb, var(--color-bg-left), transparent 80%);
            overflow: hidden;

            summary {
                cursor: pointer;
                user-select: none;
                background-color: var(--color-fg-left);
                padding: 0.5rem;
                font-weight: bold;
                color: color-mix(in srgb, var(--color-fg-left), white 80%);
            }

            summary::marker {
                content: none;
            }

            a {
                display: block;
                text-decoration: none;
                padding: 0.5rem;
                color: color-mix(in srgb, var(--color-fg-left), black 80%);
                border-bottom: 0.1rem solid var(--color-fg-left);
            }

            a:last-of-type {
                border-bottom: 0.2rem solid var(--color-fg-left);
            }

            a:hover {
                background-color: color-mix(in srgb, var(--color-bg-left), transparent 80%);
            }
        }
    }
}

#center {
    grid-area: center;
    border-top: 0.5rem solid var(--color-fg-center);
    background-color: color-mix(in srgb, var(--color-bg-center), transparent 80%);
    padding: 0.5rem;

    fieldset {
        display: flex;
        border: 0.1rem solid var(--color-fg-center);
        border-bottom: 0.2rem solid var(--color-fg-center);
        box-sizing: border-box;
        flex-direction: row;
        margin-bottom: 0.5rem;
        column-gap: 0.25rem;
        padding: 0.25rem;

        legend {
            margin-left: 0.5rem;
            color: color-mix(in srgb, var(--color-fg-center), black 50%);
        }

        button {
            padding: 0.25rem;
            background: none;
            outline: none;
            border: 0.1rem solid var(--color-fg-center);
            cursor: pointer;
        }
    }
}

#right {
    grid-area: right;
    border-top: 0.5rem solid var(--color-fg-right);
    background-color: color-mix(in srgb, var(--color-bg-right), transparent 80%);
    padding: 0.5rem;
    font-family: sans-serif;

    fieldset {
        display: flex;
        border: 0.1rem solid var(--color-fg-right);
        border-bottom: 0.2rem solid var(--color-fg-right);
        box-sizing: border-box;
        flex-direction: row;
        margin-bottom: 0.5rem;

        legend {
            margin-left: 0.5rem;
            color: color-mix(in srgb, var(--color-fg-right), black 50%);
        }

        span {
            padding: 0.5rem;
        }
    }
}