<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>
        Bomberos / {{ session['user']['username'] }}
    </title>

    <link rel="icon" href="{{ url_for('static', filename='logo.svg') }}" type="image/svg+xml">
    
    {% if session['tema'] == 'color' %}
        <link rel="stylesheet" href="{{ url_for('static', filename='tema-color.css') }}">
    {% elif session['tema'] == 'bw' %}
        <link rel="stylesheet" href="{{ url_for('static', filename='tema-bw.css') }}">
    {% else %}
        <link rel="stylesheet" href="{{ url_for('static', filename='tema-color.css') }}">
    {% endif %}
    
    <link rel="stylesheet" href="{{ url_for('static', filename='base.css') }}">

    {% block head %}
    {% endblock %}
</head>

<body>
    <div id="top">
        <h1><a href="{{ url_for('index.Index') }}">Bomberos Voluntarios de Totoras</a></h1>

        <div>
            <form action="{{ url_for('index.Tema') }}" method="post">
                <input type="submit" value="🖼️">
            </form>
    
            <form action="{{ url_for('index.Logout') }}" method="post">
                <input type="submit" value="❌">
            </form>
        </div>
    </div>

    <div id="middle">
        <div id="left">
            <div id="nav">
                <details open>
                    <summary>📑 Asistencias</summary>
                    <a href="{{ url_for('asistencias.Index') }}">📝 Cargar Planilla</a>
                    <a href="{{ url_for('asistencias.Verificar_Planillas') }}">📑 Verificar Planillas</a>
                    <a href="{{ url_for('asistencias.Ver_Planillas') }}">📄 Ver Planillas</a>
                </details>

                <details open>
                    <summary>🗃️ Calificaciones</summary>
                    <a href="{{ url_for('calificaciones.Mensual') }}">📅 Mensual</a>
                    <a href="{{ url_for('calificaciones.Semestral') }}">📆 Semestral</a>
                    <a href="{{ url_for('calificaciones.Anual') }}">🗓️ Anual</a>
                    <a href="{{ url_for('calificaciones.Historico') }}">🗂️ Histórico</a>
                </details>
    
                <details open>
                    <summary>📚 Datos</summary>
                    <a href="{{ url_for('personal.Personal') }}">📗 Personal</a>
                    <a href="{{ url_for('unidades.Unidades') }}">📕 Unidades</a>
                    <a href="{{ url_for('eventos.Eventos') }}">📘 Eventos</a>
                </details>
            </div>
    
            {% block left %}{% endblock %}
        </div>
    
        <div id="center">
            {% block center %}{% endblock %}
        </div>
    
        <div id="right">
            {% block right %}{% endblock %}

            {% with mensajes = get_flashed_messages()  %}
                {% if mensajes %}                
                    <fieldset class="flashes">
                        <legend>Mensajes</legend>

                        {% for mensaje in mensajes %}
                            <span>{{ mensaje }}</span>
                        {% endfor %}
                    </fieldset>
                {% endif %}
            {% endwith %}
        </div>
    </div>

    <div id="bottom">
        <h2>IES №48, Martín Menna Castells © 2025</h2>
    </div>
</body>
</html>