{% extends 'base_login.html' %}

{% block head %}
    <link rel="stylesheet" href="{{ url_for('static', filename='login.css') }}">
{% endblock %}

{% block center %}
    <form action="{{ url_for('index.Login') }}" method="post">
        <fieldset>
            <legend>Usuario</legend>
            <input type="text" name="username">
        </fieldset>

        <fieldset>
            <legend>Contraseña</legend>
            <input type="password" name="password">
        </fieldset>

        <fieldset>
            <input type="submit" value="Ingresar">
        </fieldset>
    </form>
{% endblock %}

{% block right %}
    <fieldset>
        <legend>Información</legend>
        <p>
            Por favor, ingrese sus credenciales.
        </p>
        <p>
            Puede usar su nombre de usuario, su legajo, o su DNI.
        </p>
    </fieldset>
{% endblock %}