{% if session['user']['permisos'] > 1 %}
    {% extends 'base.html' %}
{% else %}
    {% extends 'base_user.html' %}
{% endif %}

{% block head %}
    <link rel="stylesheet" href="{{ url_for('static', filename='calificaciones.css') }}">
{% endblock %}

{% block center %}
    <table>
        <thead>
            <tr>
                <th>
                    Bombero (Legajo)
                </th>
                <th>
                    Asistencias
                </th>
                <th>
                    Puntaje
                </th>
            </tr>
        </thead>
        <tbody>
            {% for calificacion in calificaciones %}
                <tr class="bomberos">
                    <td colspan="2">
                        {{ calificacion.apellido_nombre }} ({{ calificacion.legajo }})
                    </td>

                    {% if calificacion.puntaje < 3.33 %}
                        <td style="background-color: #FF595E;">
                            {{ calificacion.puntaje }}
                        </td>
                    {% elif calificacion.puntaje < 6.66 %}
                        <td style="background-color: #FFCA3A;">
                            {{ calificacion.puntaje }}
                        </td>
                    {% else %}
                        <td style="background-color: #8AC926;">
                            {{ calificacion.puntaje }}
                        </td>
                    {% endif %}
                </tr>

                {% for evento in Calificacion.Get_Desglose_Historico(calificacion.legajo, fecha_inicio, fecha_fin) %}
                    <tr class="eventos">
                        <td>
                            {{ Evento.Get_Evento_By_ID(evento.id_evento).nombre }}
                        </td>
                        <td>
                            {{ evento.asistencias }} / {{ evento.total }}
                        </td>
                        <td>
                            {{ evento.puntaje }}
                        </td>
                    </tr>
                {% endfor %}
            {% endfor %}  
        </tbody>
    </table>
{% endblock %}

{% block right %}
    <form action="{{ url_for('calificaciones.Historico') }}" method="get">
        <fieldset>
            <legend>Desde-Hasta</legend>

            <div>
                <input type="date" name="fecha_inicio" value="{{ fecha_inicio or '' }}" required>
                <input type="date" name="fecha_fin" value="{{ fecha_fin or '' }}" required>
            </div>

            <button type="submit">
                <span>Filtrar</span>
            </button>
        </fieldset>
    </form>
{% endblock %}